<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      #bar{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;

      }
      #bar li{
        display: inline;
        margin: 0 20px;
      }
    </style>


  </head>
  <body>

    <ul id= "bar">
      <li>Home</li>
      <li>Service</li>
      <li>Who</li>
      <li>Contacts</li>
      <li>About</li>
    </ul>

  </body>
</html>
